[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"
python-dotenv = "*"
django-bootstrap-v5 = "*"
django-heroku = "*"
gunicorn = "*"
django-heroku = "*"
django-on-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
