{% extends 'base.html'%}

{% block content%}
  <!-- New if/else block -->
  <div class="container-fluid login-buttons bg-white border rounded-5 login-container w-75 p-4 position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-between align-items-center">
    <p class="fs-2">Edit Vehicle</p>
    <small>Current Vehicle:</small>
    <p class="">{{vehicle.make}} - {{vehicle.model}}</p>
      <form action="#" method="POST">
        {% csrf_token %}
        <table class="w-100">
            <tr>
                <td>
                  <select name="make" id="make">
                      {% for make in makes %}
                      <option value="{{ make.id }}" {% if request.GET.make == make.id %}selected{% endif %}>{{ make.name }}</option>
                      {% endfor %}
                  </select>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="model" id="model">
                        {% for model in models %}
                        <option value="{{ model.id }}" {% if request.GET.model == model.id %}selected{% endif %}>{{ model.name }} - {{ model.year }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <div class="col-6 d-flex flex-row justify-content-around">
          <input type="submit" value="Submit" class="btn-green  rounded-3">
          <div class="w-50">
            <a href="#" onclick="window.history.back();">
              <input type="button" value="Cancel" class="btn-red  rounded-3">
            </a>
          </div>
        </div>
    </form>
  </div>

{% endblock%}