{% extends 'base.html'%}

{% block content%}
<div class="container-fluid login-buttons bg-white border rounded-5 login-container w-75 p-4 position-absolute top-30 start-50 translate-x-middle d-flex flex-column justify-content-between align-items-center">
  <p class="fs-2 login-container">Add a Vehicle</p>
    <form class="d-flex flex-column gap-4" action="#" method="POST">
      {% csrf_token %}
      <div class="container">
        <select name="make" id="make">
            {% for make in makes %}
            <option value="{{ make.id }}" {% if request.GET.make == make.id %}selected{% endif %}>{{ make.name }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="container">
        <select name="model" id="model">
            {% for model in models %}
            <option value="{{ model.id }}" {% if request.GET.model == model.id %}selected{% endif %}>{{ model.name }} - {{ model.year }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col w-100 d-flex flex-row justify-content-around">
        <input type="submit" value="Submit" class="btn-green  rounded-3">
        <div class="w-50">
          <a href="#" onclick="window.history.back();">
            <input type="button" value="Cancel" class="btn-red  rounded-3">
          </a>
        </div>
      </div>
  </form>
</div>
{% endblock%}