{% extends 'base.html'%}

{% block content%}
  <!-- New if/else block -->
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Vehicle</h1>
  {%endif%}
<form action="" method="POST">
    {%csrf_token%}
    <table class="w-100">
        {{form.as_table}}
    </table>
    <div class="row w-100 mt-4">
      <div class="col-4">
      </div>
      <div class="col-6 d-flex flex-row justify-content-around">
        <input type="submit" value="Submit" class="btn-green  rounded-3">
        <div class="w-50">
          <a href="/">
            <input type="button" value="Cancel" class="btn-red  rounded-3">
          </a>
        </div>
      </div>
    </div>
</form>







{% endblock%}