{% extends 'base.html' %}
{% load static %}
{% block content%}

<div class="container-fluid bg-white border rounded-5 login-container w-75 py-2 position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-around align-items-center">
  <p class="fs-2 login-container">Welcome Back!</p>
  <img class="login-image mb-4" src="{% static '/images/login-image.png' %}">

  <form class="w-100 h-75 mt-4 d-flex flex-column justify-content-around" method="POST" action="">
    {% csrf_token %}
    <div class="mb-3 pt-4 text-center">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="mb-3 text-center">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    <div class="container-fluid p-0 py-4 m-0 d-flex justify-content-around">
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn-green rounded-3">Log In</button>
      <a href="/" class="w-auto">
        <input type="button" value="Cancel" class="btn-red rounded-3">
      </a>
    </div>
  </form>
</div>


{%endblock%}