{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Green Diary</title>
  <!-- the link has django syntax to point directly to the  -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="h-100 d-flex flex-column align-items-center mt-4 mb-0">
  {% if request.path != '' and request.path != '/' and request.path != '/accounts/login/' and request.path != '/accounts/signup/' %}
    {% include 'header.html' %}
  {% endif %}

  <main class="container-fluid mt-5 px-4 mb-0 w-100 h-100 text-center">
    {% block content %}
    {% endblock %}
  </main>

  <div class="background position-absolute top-0 start-0 w-100 h-100"></div>
</body>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script type="text/javascript">
  // listen for dropdown changes in vehicle creation
  // update query params based on selections
  document.addEventListener('DOMContentLoaded', function() {
      var makeDropdown = document.getElementById('make')
      var modelDropdown = document.getElementById('model')
      
      makeDropdown.addEventListener('change', function() {
          var selectedMake = this.value
          window.location.href = '?make=' + selectedMake
      })
      modelDropdown.addEventListener('change', function() {
          var selectedModel = this.value
          var selectedMake = makeDropdown.value
          window.location.href = '?make=' + selectedMake + '&model=' + selectedModel
      })
  })
</script>

<!-- for AJAX we need JQUERY -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>
