{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Green Diary</title>
  <!-- the link has django syntax to point directly to the  -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="h-100 d-flex flex-column align-items-center m-4 mb-0">
  {% include 'header.html' %}

  <main class="container-fluid m-5 mb-0 w-100 h-100 text-center">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="fixed-bottom text-end transparent">
    &copy 2024 Green Diary &nbsp
  </footer>

  <div class="background position-absolute top-0 start-0 w-100 h-100"></div>
</body>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script type="text/javascript">
  // listen for dropdown changes in vehicle creation
  // update query params based on selections
  document.addEventListener('DOMContentLoaded', function() {
      var makeDropdown = document.getElementById('make')
      var modelDropdown = document.getElementById('model')
      
      makeDropdown.addEventListener('change', function() {
          var selectedMake = this.value
          window.location.href = '?make=' + selectedMake
      })
      modelDropdown.addEventListener('change', function() {
          var selectedModel = this.value
          var selectedMake = makeDropdown.value
          window.location.href = '?make=' + selectedMake + '&model=' + selectedModel
      })
  })
</script>
</html>
