{% load static %}

<nav class="navbar test navbar-expand-lg d-flex justify-content-between fixed-top px-2">

  {% if request.path != '/' %}
    <a href="/">
      <img src="{% static 'images/green-diary-logo.png' %}" class="img-fluid logo rounded-4 pt-1">
    </a>
  {% endif %}

  <p class="fs-2 header-title">Green Diary</p>

  {% if request.path != '/' and request.path != '/accounts/login/' %}
    <div class="dropdown show">
      <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'images/menu.svg' %}" class="img-fluid user">
      </a>
      
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        {% if user.is_authenticated %}
          <form action="{%url 'logout'%}" method="POST">
            {%csrf_token%}
            <button type="submit" class="btn w-100"> Log Out</button>
          </form>
        {% else %}
          <a class="dropdown-item" href="{%url 'signup'%}">Sign Up</a>
          <a class="dropdown-item" href="{%url 'login'%}">Log In</a>
        {% endif %}
      </div>
    </div>
  {% endif %}

</nav>