{%extends 'base.html'%} 


{% block content%}
    <div class="row d-flex align-items-center" style="height: 14vh;">
        <div class="col bg-white rounded-5" style="height: 95%;"></div>
    </div>

    <div class="row d-flex align-items-center" style="height: 63vh;">
        <div class="col bg-white rounded-5" style="height: 95%;"></div>
    </div>

    <div class="row d-flex justify-content-around" style="height: 14vh;">
        <div class="col-5 bg-white rounded-5"></div>
        <div class="col-5 bg-white rounded-5"></div>
    </div>
{%endblock%}
