@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  overflow: hidden;
}

nav {
  background: none;
}
.header-title{
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: #3f7a2b;
}
main {
  max-width: 750px;
}
.logo {
  max-height: 50px;
  border-radius: 10px;
}
.dropdown.show a:focus {
  box-shadow: none;
}
.transparent {
  background: transparent !important;
  border: none !important;
}
.bg-white {
  background-color: white !important;
}
.vehicle-edit {
  width: clamp(15px, 4vmin, 25px);
}
.vehicle-edit:hover {
  opacity: .25;
}
.vehicle-container > div {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.vehicle-container h1 {
  margin: 0;
  padding: 0;
}
.vehicle-arrow {
  width: clamp(20px, 3vmin, 40px);
  margin: 0 2%;
  transform: rotate(90deg);
}
.vehicle-arrow:hover {
  outline: 2px solid rgba(79, 176, 79, 0.275);
}
.vehicle-stats {
  font-size: clamp(6px, 1.5vmin, 30px);
  color: rgb(165, 165, 165);
}
.light {
  color: rgb(165, 165, 165);
}
.marker {
  width: clamp(30px, 3vmin, 40px);
}
.text-large {
  font-size: 2vmin;
}
.rounded-4 {
  border-radius: 10px;
}
.rounded-5 {
  border-radius: 20px;
}
.background {
  background-image: url('../images/bg-map.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .25;
  z-index: -1;
}
.hr {
  width: 94%;
}
.dark {
  color: rgb(42, 42, 42);
}
.fvmin-1 {
  font-size: 3.5vmin;
}
.fvmin-2 {
  font-size: 2vmin;
}
.vehicle-buttons > div {
  font-size: 2.5rem;
  border-radius: 10px;
}
@media (max-width: 450px){
  .vehicle-buttons > div {
    font-size: 1.5rem;
  }
}
.green,
.red {
  text-decoration: none;
}
.green {
  color: green;
}
.red {
  color: red;
}
.green:hover {
  color: rgb(3, 205, 3);
  background: rgb(238, 255, 229);
  user-select: none;
}
.red:hover {
  color: rgb(255, 135, 135);
  background: rgb(253, 213, 213);
}