{% extends 'base.html' %} 

{% block content %}
    <div class="row d-flex align-items-start">
        {% include 'vehicle.html' %}
    </div>
    <div class="row position-relative py-3 d-flex align-items-stretch" style="height: 63vh;">
        <div class="col-12 h-100 p-0 pb-4 w-100 position-relative bg-white rounded-5 border overflow-hidden">
            <div class="row m-0 shadow-sm">
                <h1 class="text-lg ps-4 pe-2 pt-2 mb-0 bg-white text-start rounded-5">My Trips</h1>
                <div class="col-12 light">
                    <div class="row text-center text-reg">
                        <div class="col-1"></div>
                        <div class="col-4 p-0 pe-4">Dates Traveled</div>
                        <div class="col-2 p-0 pe-4">Distance</div>
                        <div class="col-2 p-0 pe-3">Carbon</div>
                        <div class="col-2 p-0">Cost</div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="row pb-4 d-flex flex-column justify-content-start align-items-center overflow-auto">
                <div class="col-12 w-100 mb-4 d-flex flex-column justify-content-center">
                    {% include 'card.html' %}
                </div>
            </div>
            <a href="{% url 'trip_create' vehicle.id %}" class="btn-green btn-add position-absolute top-0 end-0 d-flex align-items-center justify-content-center">
                New Trip
            </a>
        </div>
    </div>
    <div class="row pb-4 d-flex justify-content-around mt-auto" style="height: 14vh;">
        <div class="col-5 pb-3 bg-white p-0 rounded-5 border">
            
                <div class="row text-reg d-flex justify-content-center">
                    Impact
                </div>
                <div class="row h-70">
                    <div class="col-6 text-xl d-flex justify-content-end align-items-center">
                        {{output}}
                    </div>
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        metric tons
                    </div>
                </div>
                <div class="row text-reg h-10 d-flex justify-content-center align-items-center">
                    carbon released
                </div>
          
        </div>
        <div class="col-5 pb-3 bg-white rounded-5 border">
            <div class="row text-reg d-flex justify-content-center">
                Cost
            </div>
            <div class="row h-70">
                <div class="col-6 text-xl d-flex justify-content-end align-items-center">
                    {{cost}}
                </div>
                <div class="col-6 d-flex justify-content-start align-items-center">
                    trees
                </div>
            </div>
            <div class="row h-10 text-reg d-flex justify-content-center align-items-center">
                trees to offset
            </div>
        </div>
    </div>
{% endblock %}
